/* GLOBAL --------------------------------------------------------------------*/

@import url("typography.css");
@import url("colors.css");

html {
	box-sizing: border-box;
}

*, ::after, ::before {
	box-sizing: inherit;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	line-height: 1;
}

body {
	background-color: var(--color-ui-secondary);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button, select, input[type="button"] {
	background-color: transparent;
	cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.6rem;
}

.card {
	padding: 2rem;
	background-color: var(--color-ui-primary);
	border-radius: 0.8rem;
	box-shadow: 0 .5px 1px #0000001a, 0 2px 6px #5a646d33;
}

/* HEADER --------------------------------------------------------------------*/

.header {
	font-size: 1.3rem;
	background-color: var(--color-brand-primary);
}

.nav {
	display: flex;
	justify-content: space-between;
}

.logo__img {
	object-fit: contain;
}

.menu {
	display: flex;
	flex-grow: 1;
	justify-content: end;
}

.menu__item > :first-child {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1.54em;
	border-radius: 3.077em;
	color: var(--color-ui-primary);
}

.menu__item > :first-child:hover {
	background-color: var(--color-brand-secondary);
}

.menu__button::after {
	content: url("../assets/svg/bullet.svg");
	height: 1.385em;
	margin-left: 0.5em;
}

.sub-menu {
	display: none;
}

.lang {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 1.4rem;
	border-radius: 3.077em;
}

.lang:hover {
	background-color: var(--color-brand-secondary);
}

.lang::before {
	position: absolute;
	left: 1.54em;
	content: url("../assets/svg/lang.svg");
	cursor: pointer;
}

.lang::after {
	position: absolute;
	right: 1.54em;
	content: url("../assets/svg/bullet.svg");
	height: 1.385em;
	cursor: pointer;
}

.lang__select {
	z-index: 1;
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: calc(1.54em + 0.5em + 20px);
	padding-right: calc(1.54em + 0.5em + 5px);
	border-radius: 3.077em;
	color: var(--color-ui-primary);
	appearance: none;
	outline: none;
}

.lang__item {
	color: initial;
}

.slogan {
	margin-top: 1.25em;
	margin-bottom: 1em;
	color: var(--color-accent-secondary);
}

.ticket-type {
	display: flex;
	gap: 0.78em;
}

.ticket-type__link {
	display: inline-flex;
	align-items: center;
	height: 2.462em;
	padding: 0 1.539em;
	font-size: 1.3rem;
	font-weight: 700;
	background-color: var(--color-brand-secondary);
	color: var(--color-ui-primary);
	border-radius: 2.462em;
}

.ticket-type__link:hover {
	background-color: var(--color-ui-primary);
	color: var(--color-text-primary);
}

.ticket-type__link--active {
	background-color: var(--color-ui-primary);
	color: var(--color-text-primary);
}

.ticket-type__link--sale {
	padding-right: 0.769em;
}

.ticket-type__sale {
	margin-left: 0.769em;
	padding: 0.231em 0.462em;
	background-color: var(--color-ui-ok);
	border-radius: 2.462em;
}

/* SEARCH --------------------------------------------------------------------*/

.search {
	display: grid;
	margin-top: 1em;
	margin-bottom: 5em;
	grid-template-columns: auto 138px;
	gap: 1.6rem 1rem;
	font-size: 1.6rem;
}

.search__filters {
	display: flex;
	background-color: var(--color-ui-primary);
	border-radius: 0.25em;
	box-shadow: 0 2px 16px #00000040;
}

.search__filters > :not(:first-child),
.search__route > .search__input-box + .search__input-box {
	border-left: 1px solid var(--color-border-primary);
}

.search__route {
	position: relative;
	display: flex;
}

.search__input-box {
	position: relative;
}

.search__label {
	position: absolute;
	left: 1.25em;
	top: 2em;
	color: var(--color-text-tertiary);
}

.search__input {
	display: block;
	padding: 2.375em 1.25em 1.25em 1.25em;
	font-size: 1.6rem;
	font-weight: 600;
	text-align: start;
	color: var(--color-text-primary);
	background-color: transparent;
}

.search__input:focus + .search__label,
.search__input:not(:placeholder-shown) + .search__label {
	left: 1.539em;
	font-size: 1.3rem;
	transform: translateY(-5px);
}

.search__swap-route-button {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 32px;
	height: 32px;
	border: 1px solid var(--color-accent-primary);
	border-radius: 50%;
	font-size: 0;
	background-color: var(--color-ui-primary);
	transform: translate(-50%, -50%);
}

.search__swap-route-button:hover {
	background-color: var(--color-accent-primary);
}

.search__swap-route-button::before {
	position: absolute;
	left: 50%;
	top: 50%;
	content: "";
	width: 100%;
	height: 100%;
	mask: url("../assets/svg/swap.svg");
	background-color: var(--color-accent-primary);
	transform: translate(-50%, -50%);
}

.search__swap-route-button:hover::before {
	background-color: var(--color-ui-primary);
}

.search__dates {
	display: flex;
	flex-grow: 1;
}

.search__dates > * {
	flex-grow: 1;
}

.search__date-return-button {
	padding-right: calc(1.25em + 16px);
}

.search__date-return-button::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 24px;
	background-color: var(--color-border-primary);
}

.search__date-return-button::after {
	content: url("../assets/svg/calendar4.svg");
	position: absolute;
	right: 1.25em;
	top: 50%;
	transform: translateY(-50%);
}

.search__passangers-class-button {
	padding-right: 1.1em;
}

.search__find-button {
	font-weight: 700;
	color: var(--color-ui-primary);
	background-color: var(--color-accent-primary);
	border-radius: 0.25em;
	box-shadow: 0 2px 16px #00000040;
}

.search__find-button:hover {
	background-color: var(--highlight-accent-primary);
}

.search__route-mode-button {
	position: relative;
	justify-self: start;
	padding: 0.357em 0 0.357em 2.4em;
	font-size: 1.4rem;
	font-weight: 400;
	text-align: start;
	color: var(--color-ui-primary);
}

.search__route-mode-button::before {
	content: url(../assets/svg/multiroute.svg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

/* BANNERS -------------------------------------------------------------------*/

.banners {
	display: flex;
	gap: 2rem;
}

.banner {
	width: 50%;
	display: flex;
    flex-direction: column;
    align-items: baseline;
}

.telegram {
	position: relative;
	z-index: 0;
}

.telegram::after {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
	content: "";
	height: 100%;
	width: 100%;
	background: url("../assets/img/telegram-ru.webp") bottom right 1.4rem / 13.4rem no-repeat;
}

.bus-tickets {
	position: relative;
	z-index: 0;
}

.bus-tickets::after {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
	content: "";
	height: 100%;
	width: 100%;
	background: url("../assets/img/bus-light.webp") bottom right / 17.4rem no-repeat;
}

.banner__title {
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--color-text-primary);
}

.banner-list {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	gap: 0.5em 0.7em;
	width: 75%;
	margin-top: 1.5em;
	font-size: 1.3rem;
	color: var(--color-text-secondary);
}

.banner-list__item::before {
	content: url("../assets/svg/check-smooth.svg");
	padding-right: 0.3em;
}

.banner__link {
	display: inline-block;
	margin-top: 1.143em;
	border-radius: 0.286em;
	padding: 1em 1.429em;
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--color-ui-primary);
	background-color: var(--color-accent-primary);
	box-shadow: 0 1px 3px #00000040;
}

.banner__link:hover {
	background-color: var(--highlight-accent-primary);
}

.banner__link--alt {
	color: var(--color-accent-primary);
	background-color: var(--color-accent-tertiary);
	box-shadow: none;
}

.banner__link--alt:hover {
	color: var(--color-ui-primary);
	background-color: var(--color-accent-primary);
	box-shadow: 0 1px 3px #00000040;
}
